# =========================
# Eclipse workspace metadata
# =========================
.metadata/
**/.metadata/

# =========================
# Java build output
# =========================
**/bin/
**/out/
**/target/

# =========================
# Eclipse / IDE files
# =========================
**/.classpath
**/.project
**/.settings/

# =========================
# OS junk files
# =========================
.DS_Store
Thumbs.db

# =========================
# Allow src only
# =========================
!**/src/